* {
  color: #ccccff;
}

body {
  background-color: #003380;
  width: 970px;
}

header {
  border-radius: 10px;
  background-color: red;
}

h1 {
  padding: 10px;
}

nav {
  display: inline-block;
  background-color: #009999;
  border-radius: 10px;
  width: 230px;
  vertical-align: top;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
}

main {
  display: inline-block;
  background-color: black;
  border-radius: 10px;
  color: white;
  width: 670px;
  margin-top: 20px;
  padding: 10px;
}

footer {
  background-color: grey;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

a {
  color: #00e6b8;
}

.purple {
  color: purple;
}
